.body-header {
  font-family: "Barlow"
}

a {
  color: inherit;
  text-decoration: none;
}
.menu-desktop {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  max-width: 56.5em;
  margin: 0 auto;
  padding: 20px 1.5em 0;
  background-color: #D9F7FA;
  z-index: 6
}
@media only screen and (min-width: 40.0625em) {
  .menu-desktop {
      padding: 0.75em 1.5em 0
  }
}
@media only screen and (min-width: 75.0625em) {
  .menu-desktop {
      margin: 1em auto 0;
      padding: 1em 3em 0;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em
  }
}
@media only screen and (min-width: 1281px) {
  .menu-desktop {
      margin: 1.5em auto 0
  }
}
.menu-desktop__logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  z-index: 6;
  -webkit-animation: fadeInDelay 600ms;
  animation: fadeInDelay 600ms
}
@media only screen and (min-width: 40.0625em) {
  .menu-desktop__logo {
      font-size: 1.125rem
  }
}
.menu-desktop__logo svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem
}
@media only screen and (min-width: 40.0625em) {
  .menu-desktop__logo svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem
  }
}

.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 53.5em;
  margin: 0 auto;
  padding: 2em 1.5em 1.5em;
  background-color: #D9F7FA;
  font-family: "Barlow"
}

@media only screen and (min-width: 40.0625em) {
  .page-header {
      flex-wrap: nowrap;
      padding: 0 3em
  }
}

@media only screen and (min-width: 75.0625em) {
  .page-header {
      max-width: 56.5em;
  }
}

.page-header:after {
  content: "";
  position: absolute;
  display: block;
  height: 250px;
  left: 0;
  right: 0;
  bottom: -15rem;
  background-color: #D9F7FA;
  -webkit-transform: skewY(6.25deg);
  transform: skewY(6.25deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%
}

@media only screen and (min-width: 75.0625em) {
  .page-header:after {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em
  }
}


.page-header__text {
  flex: 1 0 auto;
  width: 100%;
  padding-bottom: 0.75em;
  -webkit-animation: fadeInDelay 600ms;
  animation: fadeInDelay 600ms;
  z-index: 2
}
@media only screen and (min-width: 40.0625em) {
  .page-header__text {
      width: 50%;
      padding-bottom: 2em
  }
}
@media only screen and (min-width: 60.0625em) {
  .page-header__text {
      padding-bottom: 0.75em
  }
}

.page-header__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 0;
}
@media only screen and (min-width: 40.0625em) {
  .page-header__title {
      font-size: 2.125rem
  }
}
@media only screen and (min-width: 60.0625em) {
  .page-header__title {
      font-size: 2.6875rem
  }
}
@media only screen and (min-width: 40.0625em) {
  .page-header--content .page-header__title {
      font-size: 2.6875rem
  }
}
@media only screen and (min-width: 75.0625em) {
  .page-header--content .page-header__title {
      font-size: 3.375rem
  }
}



.page-header__description {
  color: #4A5B7D;
  margin-top: 0.5em
}
@media only screen and (min-width: 40.0625em) {
  .page-header__description {
      font-size: 0.875rem;
      margin-top: 0.75em;
      padding-right: 1rem
  }
}
@media only screen and (min-width: 60.0625em) {
  .page-header__description {
      font-size: 1.125rem
  }
}
@media only screen and (min-width: 40.0625em) {
  .page-header--content .page-header__description {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 1.125rem;
      line-height: 1
  }
}